@import "./variables.css";

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Utility Container */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}
html {
  scroll-behavior: smooth;
}